<div id="content-header">
    <h4>Download Manager</h4>
</div>
<div *ngIf="!currentProject">
    <div class="content-card col s12">
        <div class="feature">
            <h5 class="subdued-text">No current manifest is set</h5>
        </div>
    </div>
</div>
<div *ngIf="currentProject">
    <div class="content-card col s12">
        <div class="feature">
            <h5>Current active manifest: <i>{{currentProject.name}} - <span class="subdued-text">{{currentProject.id}}</span></i></h5>
        </div>
    </div>
</div>
<div class="content-card col s12">
    <table class="striped centered margin-top-10">
        <div class="col s6">
            <h5 class="col s6">Status</h5>
            <div class="col s6 margin-top-10">
                <div *ngIf="isActive"><span class="default cyan">In progress</span></div>
                <div *ngIf="!isActive"><span class="default red">Not running</span></div>
            </div>
        </div>
        <div class="col s6">
            <h5 class="col s6">Total runtime</h5>
            <div class="col s6 margin-top-10">
                <div *ngIf="downloadStatus">{{downloadStatus.elapsedTimeSeconds}}</div>
                <div *ngIf="!downloadStatus">0</div>
            </div>
        </div>
    </table>
</div>
<div class="content-card col s12">
    <table class="striped centered margin-top-10 column-1st-left-aligned">
        <tbody>
            <tr>
                <td class="text-left">Total threads running</td>
                <td *ngIf="downloadStatus">{{downloadStatus.activeThreads}}</td>
                <td *ngIf="!downloadStatus">0</td>
            </tr>
            <tr>
                <td class="text-left">Total size of frontier</td>
                <td *ngIf="downloadStatus">{{downloadStatus.frontierSize}}</td>
                <td *ngIf="!downloadStatus">0</td>
            </tr>
            <tr>
                <td class="text-left">Total size of linkMap</td>
                <td *ngIf="downloadStatus">{{downloadStatus.linkMapSize}}</td>
                <td *ngIf="!downloadStatus">0</td>
            </tr>
            <tr>
                <td class="text-left">Total links processed</td>
                <td *ngIf="downloadStatus">{{downloadStatus.processLinks}}</td>
                <td *ngIf="!downloadStatus">0</td>
            </tr>
        </tbody>
    </table>
    <div class="card-action-block">
        <div class="left">
        </div>
        <div class="right">
            <button (click)="cancelDownload()" class="margin-side-10 modal-action modal-close waves-effect waves-light btn btn-danger">Cancel Download</button>
            <button (click)="commenceDownload()" class="waves-effect waves-light btn btn-primary">Commence Download</button>
        </div>
    </div>
</div>
