<div>
    <div id="content-header">
        <h4>Create Your Project</h4>
    </div>
    <div class="content-card col s12">
        <div class="row">
            <form class="col s12 margin-top-10" (ngSubmit)="onSubmit($event)" [ngFormModel]="group">
                <h5>Project Name</h5>
                <aside>The project name must be unique</aside>
                <div class="row">
                    <div class="input-field col s12">
                        <input ngControl="name" id="name" type="text" class="validate">
                        <label for="name">Project Name</label>
                    </div>
                </div>
                <h5>Root URLs</h5>
                <aside>The root URLs are the first Pages Jget downloads</aside>
                <div class="row" ngControlGroup="rootURLInputs">
                    <div *ngFor="#rootURL; of:rootURLs; trackBy:myTrackBy; #i=index">
                        <div class="input-field col s11">
                            <input ngControl="{{i}}" id="password" type="text" class="validate">
                            <label for="password">Root URL - {{i + 1}}</label>
                        </div>
                        <div *ngIf="i == 0" class="input-field add-icon col s1">
                            <a (click)="addRootURLInput()" class="btn-floating waves-effect waves-light btn-common">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        <div *ngIf="i != 0" class="input-field add-icon col s1">
                            <a (click)="removeRootURLInput(i)" class="btn-floating waves-effect waves-light danger">
                                <i class="material-icons">clear</i>
                            </a>
                        </div>
                    </div>
                </div>
                <h5>Seed URLS</h5>
                <aside>Any item downloaded must contain the seed URL</aside>
                <div class="row" ngControlGroup="seedURLInputs">
                    <div *ngFor="#seedURL; of:seedURLs; trackBy:myTrackBy; #i=index">
                        <div class="input-field col s11">
                            <input ngControl="{{i}}" id="password" type="text" class="validate">
                            <label for="password">Seed URL - {{i + 1}}</label>
                        </div>
                        <div *ngIf="i == 0" class="input-field add-icon col s1">
                            <a (click)="addSeedURLInput()" class="btn-floating waves-effect waves-light btn-common">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        <div *ngIf="i != 0" class="input-field add-icon col s1">
                            <a (click)="removeSeedURLInput(i)" class="btn-floating waves-effect waves-light danger">
                                <i class="material-icons">clear</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-default btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>
