@import "../../node_modules/materialize-sass/sass/materialize.scss";
@import "./helper.scss";
html {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#main-header {
    @extend .light-green,
    .darken-3;
    @extend .white-text;
    margin: 0;
}

#main-nav {
    @extend .light-green,
    .darken-2;
    padding: 0 1em;
    line-height: 40px;
    height: 40px;
}

#background {
    min-height: 1000px;
    background-color: #E5E5E5;
}

#content-container {
    padding-top: 1rem;
}

#content-header {
    border-radius: 2px;
    @extend .light-green-text,
    .text-darken-4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-weight: 400;
    background-color: #ffffff;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.content-card {
    padding: 1.5rem 0;
    background-color: #FFF;
    border-radius: 2px;
    margin: 1rem 0 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.content-card ul {
    margin: 0;
}

.card-action-block {
    border-top: 1px solid #e2e2e2;
    width: 100%;
    float: left;
    margin-top: 1em;
    padding: 1rem 1rem 0 1rem;
}

.project-title{
    padding-top: 0.75rem;
}

.feature{
    text-align: center;
}

.btn,
.btn:hover,
.btn:active,
.btn:visited,
.btn.focus,
{
    @extend .white-text;
}

.btn-common {
    @extend .light-green,
    .lighten-2;
}

.btn-primary {
    @extend .cyan,
    .lighten-2;
}

.btn-danger {
    @extend .red,
    .lighten-1;
}

.danger {
    @extend .red,
    .lighten-1;
}

.subdued-text{
    @extend .grey-text;
}

.danger-text {
    @extend .red-text,
    .lighten-1;
}

.text-left {
    text-align: left;
}

.content-card aside {
    @extend .grey-text,
    .text-lighten-4;
}

.card-content-block{
    width: 100%;
}

.loader-container {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
}

.dashboard-project-card {
    min-height: 300px;
}

.medium-height {
    min-height: 200px;
}

.small-height {
    min-height: 70px;
}


.background-primary {
    width: 100%;
    display: block;
    @extend .cyan,
    .lighten-2;
    @extend .white-text;
}

.active-block span{
    margin-bottom: 8px;
}

.default{
    font-weight: 300;
    font-size: 0.9rem;
    color: #fff;
    background-color: #26a69a;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    padding: 0.6rem;
}

.column-1st-left-aligned td:first-child{
    text-align: left;
}